body{
    background-color: rgba(250, 213, 90, 0.541);
    text-align: center;
    background-image: url("bg.avif") ;
    background-size: cover;
}
header{
    background-color: #f1c01eb4; 
}
.logo{
    width: 100px;
    height: 100px;
}